.about-background {
    height: 100vh; /* Utilisez 100vh pour couvrir toute la hauteur de la fenêtre */
    background-image: url('../../assets/img/bgbio.webp');
    background-size: cover; /* Assurez que l'image couvre tout l'espace disponible */
    background-position: center; /* Centre l'image */
    display: flex;
    justify-content: center;
    align-items: center; /* Centre le contenu (horizontal et vertical) */
  }