/* Styles existants */
.navbar-opacity {
  background-color: rgba(255, 255, 255, 0.65) !important;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  background: rgba(0, 0, 0, 0.5);
}

.custom-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-navbar .navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0; /* Le garder fixe en haut */
}

.custom-navbar .navbar-toggler-icon {
  /* Ajuster la taille de l'icône */
  height: 2em;
}

/* Ajuster les tailles de police pour artistName et nav-link */
.artistName {
  font-size: 2.4rem; /* Augmentation de la taille de police pour ADVENTIS */
}

.navbar-nav .nav-link {
  font-size: 1.4rem; /* Taille de police des liens */
  font-weight: normal;
}

.instagram-link {
  display: flex;
  align-items: center; /* Centre l'icône verticalement */
  margin-right: 1rem; /* Ajoute un peu d'espace à droite de l'icône */
  
  img {
    height: 2em; /* Ajuste la taille de l'icône ou de l'image */
    opacity: 0.75; /* Définit l'opacité initiale plus faible */
    transition: opacity 0.25s ease; /* Transition douce pour l'opacité */
  }

  &:hover img {
    opacity: 1; /* Augmente l'opacité au survol pour un effet plus foncé */
  }

  .fab, img {
    height: 2em; /* Ajuste la taille de l'icône ou de l'image */
  }
}


