.fullscreen-slider {
    .carousel-item {
      height: 100vh; // Fait que le carousel prend toute la hauteur de l'écran
      img {
        height: 100%; // S'étend à la hauteur de l'élément parent
        object-fit: cover; // Couvre l'espace disponible sans déformer l'image
      }
    }
  }

  /* Cacher les flèches sur les écrans medium (768px) et en dessous */
@media (max-width: 767.98px) {
  .fullscreen-slider .carousel-control-prev,
  .fullscreen-slider .carousel-control-next {
    display: none;
  }
}
